.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background-color: #308f59;
  position: relative;
  box-sizing: border-box;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 25px;
  background-color: white;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

footer {
  position:none;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
  border-top: 2px solid #555;
  box-sizing: border-box;
}

.weather-info {
  font-size: 18px;
  line-height: 1.6;
}

.weather-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
